<h2>Добавить новую запись в таблицу items</h2>

<p><%= @item.name %></p>
<p><%= @item.price %></p>
<p><%= @item.weight %></p>
<p><%= @item.description %></p>

<%= link_to "Назад", items_path %>
<%= link_to "Редактировать", edit_item_path %>