<h2>Запись в таблице items</h2>

<p><%= @item.name %>
<%= @item.price %>
<%= @item.weight %>
<%= @item.description %></p>

<%= link_to "Назад", items_path %>
<%= link_to "Редактировать", edit_item_path %>
<%= link_to "Удалить", item_path(@item.id), method: :delete %>